<app-slider [nombre]="'Peliculas'"></app-slider>

<div class="center">
    <section id="content">
        <h2>Esta son las Peliculas</h2>
        
        <p>{{titulo}}</p>
        <button (click)="cambiarTitulo()">Pulsame!!</button>
        
        <h2>Mostrar Primera pelicula</h2>
        {{peliculas[0].title}}
        <hr/>
        <h2>Numero de peliculas</h2>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas:
        </div>
        <div *ngIf="peliculas.length > 3">
            hay muchas peliculas
        </div>
        {{peliculas.length}}        
        <hr/>
        <h2 class="subheder">Listado de Peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <article class="article-item" *ngFor="let pelicula of peliculas; let i = index;">
                <div class="image-wrap">
                    <img src="{{pelicula.image}}" alt="{{pelicula.title}}" />
                </div>
        
                <h2>{{pelicula.title}}</h2>
                <span class="date">
                    Hace 5 minutos
                </span>
                <span class="year" [ngClass]="{
                                    'year-green': pelicula.year > 2018,
                                    'year-red': pelicula.year <= 2018
                                }">
                    {{pelicula.year}}</span>
                <a href="#">Leer más</a>
        
                <div class="clearfix"></div>
            </article>
        
            <!--AÑADIR ARTICULOS VIA JS-->
        
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>
