
<div class="center">
    <section id="content">
        <h2>{{page_title}}</h2>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />
            </div>
            <small *ngIf="!title.valid && title.touched"> El titulo no es valido</small>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content"></textarea>
            </div>
            <small *ngIf="!content.valid && content.touched"> El Contenido no es valido</small>

            <div class="form-group">
                
                <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>
            <small *ngIf="!title.valid && title.touched"> El titulo no es valido</small>

            <div class="clearfix"></div>
            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid" />
        </form>

    </section>
    <app-sidebar></app-sidebar>
</div>

